#include "config.h"

config::config() {
	host = "127.0.0.1";
	port = 34000;
	max_connections = 512;
	max_read_buffer = 4096;
	timeout_interval = 20;
	schedule_interval = 3;
	max_middlemen = 5000;
	
	announce_interval = 1800;
	peers_timeout = 2700; //Announce interval * 1.5
	
	reap_peers_interval = 1800;
	
	mongo_db = "narwhal";
	mongo_host = "127.0.0.1:27017";
	mongo_username = "***";
	mongo_password = "***";
	
	site_password="********************************"; // MUST BE 32 CHARS
}
